
.iron-table-container {
    
    a:hover {
        text-decoration: none;
        cursor: pointer;
    }
    
    th {
        white-space: nowrap;
    }

    .controls {
        white-space: nowrap;
        a {
            padding: 1px;
        }
    }
}