
.iron-table-container {
    
    a:hover {
        text-decoration: none;
        cursor: pointer;
    }
    
    th {
        white-space: nowrap;
    }

    .controls {
        white-space: nowrap;
        
        a {
            //color: #000;
            padding: 1px;
        }
        a:hover {
            //color: @link-hover-color;
        }
    }
}